<ion-header>
  <ion-toolbar>
    <ion-title>welcome</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h3  style="margin-left: 60px;"> Welcome To Modicare Products. Here you can check modicare products. If you have not joined modicare, you can whatsapp your adhaar card on 8837826904. If you have not joined, then only you can call on 7626879728, you can buy modicare products using id - 71198591(Modicare उत्पादों में आपका स्वागत है। यहां आप मोडिकेयर उत्पादों की जांच कर सकते हैं। यदि आप मोडिकेयर में शामिल नहीं हुए हैं, तो आप 8837826904 पर अपना आधार कार्ड व्हाट्सएप कर सकते हैं। यदि आप शामिल नहीं हुए हैं, तो केवल 7626879728 पर कॉल कर सकते हैं, आप आईडी का उपयोग करके मोडिकेयर उत्पाद खरीद सकते हैं - 79998591)</h3>
  <div  style="margin-left: 60px; margin-top:20px"> If you want to buy modicare products, click on button below (यदि आप मोडिकेयर उत्पाद खरीदना चाहते हैं, तो नीचे दिए गए बटन पर क्लिक करें)</div>
  <button   (click)="buy()" style="margin-left: 60px; color:white; font-size: 30px; background-color : blue;  width:100%; height :50px; margin-top:20px"> Buy Products(खरीदना शुरू करें)</button>
  <button   (click)="goToProducts()" style="margin-left: 60px; color:white; font-size: 30px; background-color : green;  width:100%; height :50px; margin-top:20px">Go To Products (उत्पादों के लिए जाओ)</button>
</ion-content>
